/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #979797;;
}
/* /css reset */

.container{
    max-width: 1000px;
    margin: 1em auto;
}

/* heder with logo */
header img{
    width: 240px;
    height: 100px;
}
/* /heder with logo */

/* nav-bar */
nav{
    margin-top: 1em;
}

nav ul{
    list-style: none;
}

nav li{
    display: inline-block;
    line-height: 3rem;
}

nav a{
    display: inline-block;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    color: #979797;
    text-transform: uppercase;
}

nav a:hover{
    background-color: #979797;
    color: white;
}
/*/ nav-bar */

/* main section with content */
main{
    padding: 1em 0;
}

.clear-fix::after{
    content: "";
    display: table;
    clear: both;
}

/* big section with photo */
.banner{
    width: 100%;
    height: 400px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    position: relative;
}

.banner .layover{
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 15px;
}

.description{
    color: white;
    position: absolute;
    top: 70%;
    left: 35%;
    transform: translate(-50%, -50%);
}
/* /big section with photo */

/* articles */
.article-header{
    width: 100%;
    padding: 1.5em 0;
}

.article-header > h2{
    color: black;
}

.column{
    float: left;
}

.column img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(.80);
}

.column h3{
    color: black;
    padding: .5em 0;
}

.sidebar{
    width: calc(30% - 1em);
}

.content{
    width: 40%;
    margin: 0 1em;
}
/* /articles */
/*/ main section with content */

/* footer */
.main-footer{
    margin-top: 1em;
    text-align: center;
}

.main-footer p::after{
    content: "\2764";
    color: tomato;
}
/* /footer */